* {
  margin: 0;
  padding: 0;
}

.centrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo {
  font-size: 40px;
  color: #01708b;
  font-weight: bold;
  line-height: 40px;
  padding: 10px;
}

.agrandar {
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

.agrandar:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 99;
}

.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.ir-arriba {
  display: block;
  padding: 15px 20px 10px 20px;
  background: #a8c545;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  z-index: 100;
}

header {
  height: 130px;
  background: #01708b;
}

.primi:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.especiales {
  display: none;
}

.inner-width {
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.desaparecer:hover a {
  text-decoration: none;
}

.logo {
  float: left;
  padding: 20px 0;
  max-width: 250px;
}

.logo img {
  height: 90px;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
  text-align: center;
}

.navigation-menu a {
  margin: auto;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 400;
  padding: 12px 20px;
  border-radius: 4px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  color: white;
}

.navigation-menu a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #a8c545;
  text-decoration: none;
}

.menu-toggle-btn {
  float: right;
  height: 90px;
  line-height: 90px;
  color: white;
  font-size: 26px;
  display: none !important;
  padding-top: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.banner {
  position: relative;
}

.banner .fondoAzul {
  position: absolute;
  background: #01708b;
  height: 50%;
  z-index: -9;
}

.banner .imagen {
  padding: 10px;
}

.banner .imagen img {
  width: 100%;
  height: 100%;
}

.fotos .titulo {
  text-align: center;
  font-weight: 300;
  margin: 20px;
}

.fotos .foto {
  position: relative;
  height: 100%;
  cursor: pointer;
}

.fotos .foto .eventos {
  position: absolute;
}

.fotos .foto img {
  width: 100%;
  height: 100%;
}

.fotos .owl-carousel {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.nosotros {
  margin-top: 70px;
  padding: 50px;
  background: #f0f0e8;
}

.nosotros .tarjeta {
  margin: 10px;
  text-align: center;
  font-size: 18px;
}

.nosotros .tarjeta i {
  font-size: 45px;
  padding: 30px 0;
}

.nosotros .bordeVerde {
  border: 1px solid #a8c545;
  padding: 10px;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

.nosotros .bordeVerde:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nosotros .bordeVerdeGrueso {
  border: 2px solid #a8c545;
  padding: 10px;
  height: 100%;
}

.nosotros .texto {
  color: #01708b;
  padding: 10px;
  max-height: 300px;
}

.nosotros .fondoVerde {
  background: #a8c545;
}

.nosotros .fondoVerde .texto {
  color: white;
}

.domicilio {
  padding: 30px;
  margin-top: 70px;
}

.domicilio .centrar {
  text-align: center;
  display: block;
  margin: auto;
}

.domicilio .texto {
  font-size: 40px;
  padding: 20px;
  color: #01708b;
}

.domicilio .boton {
  padding: 10px;
  background: #a8c545;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.domicilio .boton:hover {
  background-color: #01708b;
}

.domicilio .imagen {
  padding: 10px;
}

.franquicias {
  margin-top: 30px;
  padding: 30px;
}

.franquicias .imagen {
  padding: 10px;
}

.franquicias .imagen img {
  width: 100%;
  height: 100%;
}

.franquicias .descripcion {
  padding: 10px;
  font-size: 25px;
}

.franquicias .fondoAzul {
  background: #01708b;
  border-radius: 10px;
}

.franquicias .fondoAzul .descripcion {
  color: white;
  text-align: center;
}

.franquicias .boton {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
  background: #a8c545;
  border-radius: 50px;
  width: 200px;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.franquicias .boton:hover {
  background: #e0d2b5;
  color: black;
}

.franquicias a:hover {
  text-decoration: none;
}

.eventos {
  background: #f0f0e8;
  padding: 30px;
}

.eventos .boton {
  margin-top: 10px;
  padding: 20px;
  background: #01708b;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.eventos .boton:hover {
  background-color: #a8c545;
}

.eventos a:hover {
  text-decoration: none;
}

.eventos .imagen {
  padding: 20px;
}

footer {
  background: #01708b;
  padding: 40px;
}

footer h1 {
  text-align: center;
  color: white;
  margin-top: 30px;
}

footer .copyright {
  color: white;
  text-align: center;
  font-size: 25px;
}

footer .copyright a {
  color: #a8c545;
  text-decoration: none;
}

footer .copyright .rojo {
  color: red;
}

footer .rappi {
  height: 100%;
  width: 100%;
}

footer .titu {
  font-size: 30px;
  color: white;
}

footer .redes {
  padding: 10px;
  font-size: 70px;
}

footer .redes a {
  text-decoration: none;
  color: white;
  margin-right: 70px;
}

.bannerEventos {
  position: relative;
}

.bannerEventos .fondoAzulDerecha {
  position: absolute;
  background: #01708b;
  height: 50%;
  right: 0;
  z-index: -9;
}

.bannerEventos .imagen img {
  width: 100%;
  height: 100%;
}

.bannerEventos .titu {
  text-align: center;
  font-size: 90px;
  font-weight: 300;
  color: white;
  vertical-align: middle;
}

.contacto {
  padding-top: 40px;
  background: #f0f0e8;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: black;
}

.contacto .titulo {
  text-align: center;
  font-weight: 300;
  margin: 20px;
}

.contacto .texto {
  font-size: 20px;
}

.contacto .formulario .contenedor-inputs {
  padding: 20px;
  border-radius: 6px 6px 0 0;
}

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"],
.contacto .formulario textarea {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
}

.contacto .formulario input[type="text"]:focus,
.contacto .formulario input[type="email"]:focus,
.contacto .formulario textarea:focus {
  border-bottom: 2px solid #246eb9;
}

.contacto .formulario textarea {
  max-height: 300px;
}

.contacto .formulario .btn {
  width: 50%;
  margin: auto;
  text-align: center;
  background: #01708b;
  color: white;
  border: none;
  display: block;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
}

.contacto .formulario .btn:hover {
  background: #a8c545;
}

@media screen and (max-width: 767px) {
  .contenedor {
    padding: 10px;
  }
  .titulo {
    font-size: 30px;
  }
  .desaparecer {
    display: none;
  }
  .inner-width .desaparecer {
    display: none;
  }
  header {
    height: 120px;
    position: fixed;
    background: #01708b;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .especiales {
    display: block;
  }
  .menu-toggle-btn {
    display: block !important;
  }
  .navigation-menu {
    position: fixed;
    background: #01708b;
    width: 100%;
    max-width: 400px;
    z-index: 99;
    top: 120px;
    right: 0;
    display: none;
    padding: 20px 40px;
  }
  .navigation-menu a {
    display: block;
    margin: 10px 0;
    padding: 5px;
  }
  .active {
    display: block;
    max-width: 220px;
  }
  .banner {
    margin-top: 120px;
  }
  .banner .eventos .evento-description {
    position: relative;
    font-size: 0.8em;
    bottom: 0;
    background-color: black;
    height: 300px;
  }
  .banner .eventos .evento-description .btn {
    opacity: 1;
  }
  .domicilio {
    margin-top: 0px;
    padding-top: 10px;
  }
  .domicilio .texto {
    font-size: 35px;
  }
  .nosotros {
    margin-top: 10px;
  }
  .franquicias .descripcion {
    font-size: 20px;
  }
  footer .titu {
    font-size: 20px;
  }
  footer .redes {
    font-size: 30px;
  }
  footer .rappi {
    width: 70px;
  }
  .bannerEventos {
    margin-top: 120px;
  }
  .bannerEventos .titu {
    font-size: 50px;
  }
}
/*# sourceMappingURL=estilos.css.map */